@import '_variables';

.wrapper{
    display: $grid;
    margin: $auto;
    grid-template-columns: 100%;
    grid-template-rows: 133px fit-content(1400px);
}

#line{
    background-color: $third-color;
    width: 100%;
    height: 20px;
}
#welcome-area{
    padding: 20px 40px 30px 40px;
    background-color: $primary-color;

    line-height: 21px;
}
#logo{
   display: block;
   margin: $auto;
   margin-top: 25px;
}
h1{
    text-align: $center;
    color: $white !important;
    font-size: 32px!important;
}

#welcome-area {
    color: $white;
}

p{
    text-align: $center;
    // color: $white;
    font-size: 18px!important;

}
h2{
    text-align: $center;
    padding-top: 50px !important;
    margin-bottom: 30px !important;
    color: $primary-color;
}
#courses{
    margin: $auto;
    background-image: linear-gradient(#EBF4E1, #E2F3E1, #E4F4F1, #FFFFFF );
}
.row{
    justify-content: $center;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 50px;

}
.row>* {
    padding-left: 0 !important;
}

.row-cols-2>* {
    width: 145px !important;
    height: 145px !important;
}
.button-course{
    width: 9rem;
    height: 9rem;
    border-radius: 20px;
    border: 1px solid $primary-color;
    background-color: $white;
    box-shadow: 4px 4px 5px rgb(197, 197, 197);
}

.button-course[name=one]:active {
    border: 10px solid $fiveth-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}
.button-course[name=two]:active {
    border: 10px solid $fourth-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}
.button-course[name=three]:active {
    border: 10px solid $secondary-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=four]:active {
    border: 10px solid $third-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=five]:active {
    border: 10px solid $six-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=six]:active {
    border: 10px solid $fiveth-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=seven]:active {
    border: 10px solid $fourth-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=eight]:active {
    border: 10px solid $secondary-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=nine]:active {
    border: 10px solid $third-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=ten]:active {
    border: 10px solid $six-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=eleven]:active {
    border: 10px solid $fiveth-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}

.button-course[name=twelve]:active {
    border: 10px solid $fourth-color;
    box-shadow: 2px 2px 2px rgb(197, 197, 197);
}
img{
    height: 70px !important;
    margin: 10px 10px 0px 10px;
}

#button-privacy{
    border-radius: 30px ;
    background-color: #EBF4E1;
    padding: 9px 25px 9px 25px;
    border: $none;
    display: block;
    margin: $auto;
    margin-top: 20px;
    font-weight: $bold;
    text-decoration: $none;

}
#privacy-text{
    color: $primary-color;
    font-size: 11pt !important;
    line-height: 12pt;
    width: 70%;
    display: block;
    margin: $auto;
    margin-bottom: 50px;
    margin-top: 70px;
}
